.violet{
    background-color: violet;
    background-repeat: repeat-y;
}
.indigo{
    background-color: indigo;
    background-repeat: repeat-y;
}
.blue{
    background-color: blue;
    background-repeat: repeat-y;
}
.green{
    background-color: green;
    background-repeat: repeat-y;
}
.yellow{
    background-color: yellow;
    background-repeat: repeat-y;
}
.orange{
    background-color: orange;
    background-repeat: repeat-y;
}
.red{
    background-color: red;
    background-repeat: repeat;
}