h1 {
    color: rgb(133, 169, 3);
}

h5 {
    color: rgb(208, 56, 29);
}

.btnUpdate {
    color: whitesmoke;
    border: 0px;
    border-radius: 3px;
    background-color: rgb(29, 88, 88);
}

.btnUpdate:hover {
    color: whitesmoke;
    border: 0px;
    border-radius: 3px;
    background-color: rgb(133, 169, 3);
}

form {
    color: rgb(29, 88, 88);
    font-weight: 500;
}

#profileForm {
    width: 50%;
    padding: 75px;
    padding-left: 130px;
    padding-right: 130px;
    background: #f2f2f2;
    text-align: center;
    box-shadow: 5px 4px rgb(29, 88, 88), -1em 0 .4em olive;
}

#name,
#email,
#phNo,
#dob,
#pwd {
    border: 3px solid olive;
}