h1{
    color: rgb(158, 9, 69);
}

/* --------------------about us content---------------------------- */
#content{
    background-color: #f2f2f2;
    box-shadow: 5px 4px rgb(29, 88, 88), -1em 0 .4em olive;
}

h6{
    color: salmon;
}