<footer>
    <div class="my-container">
        <br>
        <div class="container">

<!-- --------------------------------Footer Top - Navigation Menu--------------------------------- -->
            <div class="row">
                <div class="col">
                    <h6 class="footer-top">
                        <a routerLink="" class="btn" (click)="goToDashboard()" routerLink="/dashboard/">Dashboard
                            <i class="bi-house-fill"></i>
                        </a>
                    </h6>
                </div>
                <div class="col">
                    <h6 class="footer-top">
                        <a routerLink="" class="btn" (click)="goToPersonalDetails()" routerLink="/personalDetails/">Personal Details
                            <i class="bi-person-fill"></i>
                        </a>
                    </h6>
                </div>
                <div class="col">
                    <h6 class="footer-top">
                        <a routerLink="" class="btn" (click)="goToAboutUs()" routerLink="/aboutus/">About Us
                            <i class="bi-people-fill"></i>
                        </a>
                    </h6>
                </div>
            </div>

<!-- -----------------------------------Footer Middle - Contact Details---------------------------- -->
            <hr style="border:2px solid darkred; background-color: darkred;">
            <div class="row" id="footer-middle">
                <h5 style="font-weight: 500">Contact Us - </h5>
                <div style="text-align:center;" class="col">
                    <h6 class="footer-middle-items">Ph No. - 9876543210
                        <i class="bi-telephone-fill"></i>
                    </h6>
                </div>
                <div style="text-align: center;" class="col">
                    <h6 class="footer-middle-items">angularcrud@email.com
                        <i class="bi-envelope-fill"></i>
                    </h6>
                </div>

                <div style="text-align: center;" class="col">
                    <h6 class="footer-middle-items">angularcrud@facebook
                        <i class="bi-facebook"></i>
                    </h6>
                </div>

                <div style="text-align: center;" class="col">
                    <h6 class="footer-middle-items">angularcrud@instagram
                        <i class="bi-instagram"></i>
                    </h6>
                </div>

                <div style="text-align: center;" class="col">
                    <h6 style="font-weight: 300; border-right: 0ch;">angularcrud@linkedin
                        <i class="bi-linkedin"></i>
                    </h6>
                </div>

<!-- ---------------------------------Footer Bottom - Rights & Creator details------------------------------ -->
            </div>
            <hr style="border:2px solid darkred; background-color: darkred;">
            <div class="row" id="footer-bottom">
                <p style="text-align: center;">All rights are reserved &copy; 2022.
                </p>
                <p style="color: whitesmoke;">
                    AngularCRUD- ArnavJain
                </p>
            </div>
        </div>
    </div>
</footer>